/host-pathogen-networks.iml
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
/.idea
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
/source_files
/output/signalink_rho.db
#  Usually these files are written by a python script from a template
/output/arn.db
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
/output/prediction.db
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
/output/dictionary.db
.coverage.*
.cache
nosetests.xml
coverage.xml
/output/salmonet.db
/output/merged.db
*,cover
.hypothesis/

# Translations
/dictionary_builder/node_modules
/dictionary_builder/salmonella_uniprot.xml
/dictionary_builder/dictionary.db
*.mo
*.pot
/output/mappedarn.db

# Django stuff:
*.log

/output/mappedsalmonet.db
/output/mappedprediction.db
/output/mappedsignalink_rho.db
/dictionary_builder/human_salmonella.xml
/dictionary_builder/testdict.db
/dictionary_builder/streamUniprotXML.js
# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
